# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Fallstudie I - Tabelle 
author: Datenkompetenzzentrum QUADRIGA
logo: quadriga-logo.jpeg
copyright: Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
You may obtain a copy of the License athttp://www.apache.org/licenses/LICENSE-2.0 
exclude_patterns: [_build, Thumbs.db, .DS_Store, "**.ipynb_checkpoints", conda, README.md]

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - Literatur.bib

# reference style
sphinx:
  config:
    bibtex_reference_style: author_year

# Information about where the book exists on the web
repository:
  url: https://github.com/quadriga-dk/Tabelle-Fallstudie-1  # Online location of your book
  branch: main  # Which branch of the repository should be used when creating links (optional)

launch_buttons:
  notebook_interface: jupyterlab
  thebe: true
  binderhub_url: https://mybinder.org
  colab_url: https://colab.research.google.com
  
# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true


